<html>
<head>
    <title>Navigation</title>
    <meta charset="utf-8">
    <title>Bootstrap 实例</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>

 <div class="btn-group-vertical">
   <a href="/mark/pattern_input" class="btn btn-primary" role="button">MARK</a>
   <a href="/smile" class="btn btn-primary" role="button">SMILE</a>
   <a href="/search" class="btn btn-primary" role="button">SEARCH</a>
 </div>

</body>
</html>
